@import "~antd/dist/antd.css";

#root,
body,
html {
  height: 100vh;
}

.site-layout .site-layout-background {
  background: #fff;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.ant-card {
  margin-bottom: 15px;
}
.ant-row.ant-form-item {
  margin-bottom: 0px;
}
.ant-col.ant-form-item-label {
  padding-bottom: 0px;
}


/* Scrollbar styling */

/* Works on Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: rgba(0, 0, 0, 0.164) auto;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 10px;
}

*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	background-color:rgba(0, 0, 0, 0.164);
  border-radius: 3px;
}

/* End scrollbar styling*/