@import "~antd/dist/antd.css";

#root,
body,
html {
  height: 100vh;
}

.site-layout .site-layout-background {
  background: #fff;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.ant-card {
  margin-bottom: 15px;
}
